/**********************
* Weather Location
**********************/
.weatherLocationCont{
    margin:0px 10px;
    width: calc(100%- 20px);
    min-width:350px;
    padding:25px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    box-shadow: 10px 10px 42px -12px;
    cursor: pointer;
}

/**********************
* Location
**********************/
.locationCont{
    width:100%;
    text-align: left;
    
    color:#888;
}
.locationCont h1{
    margin:0px;
}